/* ==========================================
   DBSTI TAMBOLA 2026
   CHAMPIONSHIP EDITION
========================================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:"Segoe UI",sans-serif;

overflow:hidden;

min-height:100vh;

background:linear-gradient(
135deg,
#020617,
#071b31,
#0f2d56,
#163d73,
#071b31,
#020617);

background-size:500% 500%;

animation:bgMove 18s ease infinite;

color:white;

}

/* Animated Background */

@keyframes bgMove{

0%{background-position:0% 50%;}

50%{background-position:100% 50%;}

100%{background-position:0% 50%;}

}

/* Container */

.container{

width:96%;

height:100vh;

margin:auto;

padding:25px;

display:flex;

flex-direction:column;

}

/* Title */

h1{

font-size:56px;

text-align:center;

font-weight:900;

letter-spacing:3px;

background:linear-gradient(
90deg,
#fff9c4,
#ffd54f,
#fff176,
#ffca28,
#fff9c4);

background-size:300%;

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

animation:goldFlow 5s linear infinite;

text-shadow:
0 0 18px rgba(255,215,0,.5);

}

@keyframes goldFlow{

0%{background-position:0%;}

100%{background-position:300%;}

}

.subtitle{

text-align:center;

margin-top:8px;

margin-bottom:25px;

font-size:22px;

letter-spacing:2px;

opacity:.9;

}

/* Winner Grid */

.winnerGrid{

flex:1;

display:grid;

grid-template-columns:repeat(3,1fr);

grid-template-rows:repeat(3,1fr);

gap:18px;

}

/* Card */

.winnerCard{

position:relative;

overflow:hidden;

border-radius:24px;

padding:20px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.15);

box-shadow:

0 8px 30px rgba(0,0,0,.35),

inset 0 0 0 1px rgba(255,255,255,.08);

transition:.4s;

}

/* Moving Shine */

.winnerCard::before{

content:"";

position:absolute;

left:-150%;

top:0;

width:70%;

height:100%;

background:

linear-gradient(

90deg,

transparent,

rgba(255,255,255,.25),

transparent);

transform:skewX(-25deg);

animation:shine 5s infinite;

}

@keyframes shine{

0%{

left:-150%;

}

100%{

left:170%;

}

}

/* Prize Name */

.winnerCard h2{

font-size:28px;

margin-bottom:18px;

color:#FFD54F;

text-shadow:0 0 10px rgba(255,215,0,.45);

}

/* Winner Name */

.winnerName{

font-size:34px;

font-weight:800;

letter-spacing:1px;

margin-bottom:14px;

text-align:center;

color:white;

}

/* Ticket */

.ticketNo{

padding:10px 28px;

border-radius:50px;

font-size:22px;

font-weight:bold;

background:rgba(255,255,255,.15);

border:1px solid rgba(255,255,255,.15);

}

/* Waiting Animation */

.waiting{

font-size:26px;

font-weight:bold;

background:

linear-gradient(

90deg,

#777,

#fff,

#777);

background-size:300%;

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

animation:waiting 2.5s linear infinite;

}

@keyframes waiting{

0%{

background-position:-300%;

}

100%{

background-position:300%;

}

}