.imagemaxwidth {max-width: 100%;}

.imagerightalign {float: right;}

.imagecenteralign {display: block;margin-left: auto;margin-right: auto;}

.candidateblock {display: inline-block;}

label {display: table-cell;}

.assessmentcontainer,.matvar,.fibinput{font-family:Arial Black;}

.matemtext{font-family:Mistral;}

.assessmentcontainer,.matvar,.fibinput{font-size:26px;}

.assessmentcontainer,.matvar,.fibinput{color:#00FF00;}

.matemtext{color:#FF0000;}

.backgroundie8horizontalstretchtop {position: absolute; top: 0; left: 0; width: 100%;}

.backgroundie8horizontalstretchbottom {position: absolute; bottom: 0; left: 0; width: 100%;}

.assessmentcontainerbackgroundsvg, .assessmentcontainerbackground {background-size:100%; background-image: url('../resfiles/blue-texture-pf-1600x900.jpg'); 	background-repeat: no-repeat; background-position: center top;}

.assessmentbackground, .assessmentbackgroundsvg {background-size:100%; background-image: none; background-repeat: no-repeat; background-position: center bottom;}

.finishedbackgroundsvg, .finishedbackground {background-size:100%; background-image: url('../resfiles/bg.jpg');}


